extends layout

block content

  h1= title
  p Welcome to Pug
  button(type = "button", class = "btn btn-warning", onClick = "moreClaps()") Press Me
  div(id = "target") Clap for me

    script.
      var clap_count = 0;
      function moreClaps(){
        clap_count = clap_count + 2;
        document.getElementById("target").innerHTML = 'Clap '+ clap_count +' times';
      }
      - var yogurt= ['yogurt_flavour','yogurt_quantity','yogurt_price']
  a(href='/yogurt') Click here to search for yogurt